<%- layout('layouts/main.ejs') %>

<h6 class="text-success">Has iniciado sesion correctamente</h6>
<div class="card card-body">
    <h3>Su Usuarios es: <%=user.email  %></h3>
</div>

<button type="button" class="btn btn-dark">¡Empezar a Jugar!</button>